{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Template</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="{% static "accounts/images/login.jpg" %}" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="{% static 'accounts/images/logo.svg' %}" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Sign into your account</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}"
                                       class="sr-only">{{ form.fields.username.label }}</label>
                                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                                       class="form-control"
                                       placeholder="{{ form.username.label }}">
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group mb-4 has-validation">
                                <label for="{{ form.password.id_for_label }}"
                                       class="sr-only">{{ form.fields.password.label }}</label>
                                <input type="password" name="{{ form.password.name }}"
                                       id="{{ form.password.id_for_label }}" class="form-control"
                                       placeholder="{{ form.password.label }}">
                                {{ form.password.errors }}
                            </div>
                            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit"
                                   value="Login">
                        </form>
                        <a href="#!" class="forgot-password-link">Forgot password?</a>
                        <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register
                            here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
